<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/digisora">Jon</a>, an alien who crash landed on this planet looking to absorb all web development knowledge.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'jon.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jon Kristian Hia</h2>
    <br />
    <p>
      Jon Hia is a UX designer training to become a software engineer. In a previous life he was an art student focusing on photography, video, and sound. He enjoys the sound of Moog synthesizers, tube distortion, and the soundtracks of Sega Genesis games. He can be found riding his bike around Chicago and dancing erratically to new wave.
    </p>
  </div>
 
</div>