@font-face {
    font-family: 'alegreya_sansblack';
    src: url('/assets/alegreyasans-black-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansblack_italic';
    src: url('/assets/alegreyasans-blackitalic-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansbold';
    src: url('/assets/alegreyasans-bold-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansbold_italic';
    src: url('/assets/alegreyasans-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansextrabold';
    src: url('/assets/alegreyasans-extrabold-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansextrabold_italic';
    src: url('/assets/alegreyasans-extrabolditalic-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansitalic';
    src: url('/assets/alegreyasans-italic-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sanslight';
    src: url('/assets/alegreyasans-light-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sanslight_italic';
    src: url('/assets/alegreyasans-lightitalic-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansmedium';
    src: url('/assets/alegreyasans-medium-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansmedium_italic';
    src: url('/assets/alegreyasans-mediumitalic-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansregular';
    src: url('/assets/alegreyasans-regular-webfont.woff2') format('woff2'),
         url('/assets/alegreyasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}